@charset "UTF-8";

@font-face {
  font-family: "untitled-font-9";
  src:url("fonts/untitled-font-9.eot");
  src:url("fonts/untitled-font-9.eot?#iefix") format("embedded-opentype"),
    url("fonts/untitled-font-9.woff") format("woff"),
    url("fonts/untitled-font-9.ttf") format("truetype"),
    url("fonts/untitled-font-9.svg#untitled-font-9") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-9" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-9" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-student-hat:before {
  content: "\61";
}
.icon-tick:before {
  content: "\62";
}
.icon-tick-w:before {
  content: "\63";
}
.icon-lamp:before {
  content: "\64";
}
.icon-linkedin:before {
  content: "\65";
}
.icon-location:before {
  content: "\66";
}
.icon-location-o:before {
  content: "\67";
}
.icon-location-w:before {
  content: "\68";
}
.icon-university-hat:before {
  content: "\69";
}
.icon-tiwtter:before {
  content: "\6a";
}
.icon-user:before {
  content: "\6b";
}
.icon-user-b:before {
  content: "\6c";
}
.icon-user-w:before {
  content: "\6d";
}
.icon-users:before {
  content: "\6e";
}
.icon-w-app:before {
  content: "\6f";
}
.icon-phone-w:before {
  content: "\70";
}
.icon-phone:before {
  content: "\71";
}
.icon-paper:before {
  content: "\72";
}
.icon-notebook:before {
  content: "\73";
}
.icon-mobile:before {
  content: "\74";
}
.icon-envelope:before {
  content: "\75";
}
.icon-envelope-w:before {
  content: "\76";
}
.icon-facebook:before {
  content: "\77";
}
.icon-heart:before {
  content: "\78";
}
.icon-globe:before {
  content: "\79";
}
.icon-electricity:before {
  content: "\7a";
}
.icon-clip-paper:before {
  content: "\41";
}
.icon-building:before {
  content: "\43";
}
.icon-bag:before {
  content: "\45";
}
.icon-aparat:before {
  content: "\44";
}
.icon-apartment:before {
  content: "\46";
}
.icon-info:before {
  content: "\47";
}
.icon-high-building:before {
  content: "\48";
}
.icon-instagram:before {
  content: "\49";
}
.icon-youtube:before {
  content: "\4b";
}
.icon-world:before {
  content: "\4c";
}
